html{
    height: 100%;
}
body{
    background-color: #273035;
    background-image: url(images/coverlogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.body{
    background-color: #273035;
    /* background-image: url(images/highxtar-la-casa-de-papel-4-temporada.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.body_2{
    background-color: #273035;
    /* background-image: url(images/highxtar-la-casa-de-papel-4-temporada.jpg); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment:fixed;
}
/* .blacklayer{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
} */
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header{
    height: 118px;
    text-align: center;
}
nav {
background-color: rgba(0, 0, 0, 0.571);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .nav{
    background-color: rgba(27, 27, 27, 0.503);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
.nav1{
    padding-left: 0px;
    justify-content: center;
    width: 650px;
border-radius: 5px;
}
.nav1 a{
    width: 70px;
}
.nav1 a:hover{
    color: rgb(245, 18, 18);
    width: 70PX;
    height: 50PX;
}
.nav1 button:hover{
    color: rgb(245, 18, 18);
}
.nav2{
    width: 140px;
    border-radius: 5px;
    padding-left: 20px;
    }
.nav3{
    width: 50px;
    border-radius: 5px;
    }

    /* #searchbox{
        margin: 0px;
        padding: 0px; */
        /* box-sizing: border-box;
        font-family: sans-serif;
        width: 50px;
        margin: auto; 
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-style: italic;
    }
    /* #searchbox input{
    width: 170px;
    border: 2px solid white;
    font-size: 18px;
    padding: 12px;
    background: transparent;
    color: rgb(198, 198, 198);
    border: 2px solid rgb(198, 198, 198);
    border-right: 0px;
    }
    #searchbox button{
        border: 2px solid rgb(198, 198, 198);
        font-size: 18px;
        padding: 12px;
        background: transparent;   
        width: 100px;
        background:rgba(191, 45, 45, 0.596);
        color: rgb(198, 198, 198);
        float:right;
        border-left: 0px;
        margin-right: 15.3px;
    }
    #searchbox button:hover{
        opacity: .8;
    }
    #searchbox input:hover{
        opacity: .8;
    }  */

main{
    height: auto;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 25px;
    padding-left: 9.5px;
    padding-right: 25px;
    background-color:rgba(0, 0, 0, 0.571);
    border-radius: 5%;
}
footer{
    background-color: rgba(0, 0, 0, 0.571);
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 15px;
}
footer p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(198, 198, 198);
}
footer a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(198, 198, 198);
}
header img{
    width: 130px;
    height: 130px;
    border-radius: 30%;
}
h1{
    font-size: 65px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.a_special{
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: rgba(191, 45, 45, 0.374);
    padding: 5px;
    border-radius: 5%;
    border: rgba(198, 198, 198, 1) 3px solid;
}
nav a {
    color: rgb(198, 198, 198);
    font-size: 24px;
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.moviebox {
    width: 300px;
    height: 300px;
    border-radius: 7%;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.1s;
}
.font{
    color: rgb(198, 198, 198);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
font-style: italic;
}
td div
{
padding-top: 30px;
}
tr td a
{
padding-right: 5px;
padding-left: 5px;
  color: aquamarine;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;  
    text-decoration: none;
}

main h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding-bottom: 0px;
}

.moviebox.mleft:hover{
    width: 320px;
    height: 320px;
    margin-left: -20px;
 }
 
 .moviebox.mcenter:hover{
     width: 320px;
     height: 320px;
     margin-left: -10px;
  }
 
  .moviebox.mright:hover{
     width: 320px;
     height: 320px;
     margin-right: -10px;
  }
 
 .right10{
     margin-left: -10px;
 }
 
 .left10{
     margin-right: -10px;
 }
 
 .top10{
     margin-bottom: -10px;
 }
 
 .bottom10{
     margin-top: -10px;
 }
 
::-webkit-scrollbar{
    display: none;
}
ul#menu li {
    display:inline;
}
.dropbtn {
    background-color: #04aa6d00;
    padding: 0px;
    font-size: 22px;
    border: none;
    color: rgb(198, 198, 198);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.571);
    /* min-width: 100px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(198, 198, 198);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover { background-color:rgba(0, 0, 0, 0);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  #div1, #div2, #div3 {
    float: left;
    width: 310px;
    height: 150px;
    margin-left: 5px;
    padding: 10px;
  }
  #scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background:  rgba(255,255,255,0.05);   
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff,#00ffe7) ;
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%,100%{
        filter: hue-rotate(-80deg);
    }
    50%{
        filter: hue-rotate(30deg);
    }
}

#progressbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(0px);
}
#progressbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7) ;
    filter: blur(5px);
}

/*search*/

.searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.search{
    position: relative;
    width: 50px;
    height: 50px;
    background: rgba(191, 45, 45, 0.374);
    border-radius: 50px;
    transition: 0.5s;
    box-shadow: 0 0 0 3px rgba(198, 198, 198, 1);
    overflow: hidden;
}

.search:hover{
    width: 450px;
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
border: 3px solid rgba(198, 198, 198, 1);
border-radius: 50%;
transform: translate(-4px,-4px);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 11px;
background:  rgba(198, 198, 198, 1);
transform: translate(7.2px,7.2px) rotate(315deg);

}

.search .input
{
    margin-left: 50px;
    position: relative;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    margin-left: 35px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding-right: 10px 0;
    background: transparent;
    color: rgb(198, 198, 198);
}

.more{
    position: absolute;
    width: 15px;
    height: 15px;
    background: transparent;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height: 75vh;
    width: 14vw;
    position: fixed;
    top: 150px;
    align-items: center;
    display: flex;
}
.right{
right: 10px;
}
.left{
left: 10px;
}
.centered{
    background-color: transparent;
    height: 100%;
    width: 100%;
}
.wrapper-horizontal{
    height: 25vh;
    left: 3vw;
    width: 60.5vw;
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 15px;
}
.add-img{
    height: 100%;
    width: 33%;
    border-radius: 5%;
}
.side-add{
    width: 100%;
    height: 33%;
    border-radius: 5%;
}